<div class="content" id="model_1" ng-init="initQuery(creat,1)">
	<div class="topForm">
		<div class="form_title">我的协作单</div>
		<div class="content" table-scroll="">
			<div class="form-inline row" ng-init="sponsorTypeQuery()"
				style="padding: 0 10px;">
				<div class="form-group col-sm-4">
					<label>工单编号</label> <input type="text" class="form-control"
						id="workOrderId" ng-model="creat.workOrderId">
				</div>
				<div class="form-group col-sm-4">
					<label style="margin-right: 4px;">发起单位</label><select class="form-control"
						ng-model="creat.createEmploye" id="createEmploye"><option
							value="-1" selected="">全部</option>
						<option ng-repeat="comp in companys" value="{{comp.companyName}}">{{comp.companyName}}</option></select>
				</div>
				<div class="form-group col-sm-4">
					<label>发起时间</label> <input type="text" readonly="readonly"
						class="form-control" ng-model="creat.createTime" id="createTime">
				</div>
			</div>
			<div class="form-inline row"
				style="margin-top: 10px; padding: 0 10px;">
				<div class="form-group col-sm-4">
					<label style="margin-right: 4px;">业务类型</label><select class="form-control"
						ng-model="creat.businessType" id="businessType"><option
							value="-1" selected="">全部</option>
						<option ng-repeat="x in businessTypeAll"
							value="{{x.businessName}}">{{x.businessName}}</option></select>
				</div>
				<div class="form-group col-sm-4">
					<label>标题</label> <input type="text" class="form-control"
						id="acceptance" ng-model="creat.workOrderTitle">
				</div>
			</div>
			<div class="form-inline row"
				style="margin-top: 10px; border-top: 1px solid #ccc; padding: 10px;">
				<div class="form-group col-sm-3">
					<button type="button" class="btn" ng-click="initQuery(creat,1)">
						<span class="glyphicon glyphicon-search"
							style="margin-right: 5px;"></span>查询
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="bottomTab">
		<div class="thead" id="thead">
			<table class="table" ng-model="create">
				<thead>
					<tr>
						<th style="width: 140px;">工单标号</th>
						<th style="width: 80px;">紧急程度</th>
						<th style="width: 80px;">标题</th>
						<th style="width: 100px;">发起单位</th>
						<th style="width: 110px;">发起联系方式</th>
						<th style="width: 80px;">业务类型</th>
						<th style="width: 140px;">发起时间</th>
						<th style="width: 80px;">操作</th>
						<th style="width: 18px;"></th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="tbody" id="tbody">
			<table class="table">
				<tbody>
					<tr
						ng-repeat="user in create.resultList | filter: create.workOrderId"
						ng-class="{backgroundRow:user.isMark==1}">
						<td style="width: 140px;"><a ng-click="myExamine(user)"
							data-toggle="modal" data-target="#myModal">{{user.workOrderId
								}}</a></td>
						<td style="width: 80px;">{{user.urgentLevel |urgentLevel}}</td>
						<td style="width: 80px;" title="{{user.workOrderTitle}}">{{user.workOrderTitle}}</td>
						<td style="width: 100px;" title="{{user.createEmploye}}">{{user.createEmploye}}</td>
						<td style="width: 110px;" title="{{user.user.mobile}}">{{user.user.mobile}}</td>
						<td style="width: 80px;" title="{{user.businessType}}">{{user.businessType}}</td>
						<td style="width: 140px;" title="{{user.createTime}}">{{user.createTime
							| date:'yyyy-MM-dd HH:mm:ss'}}</td>
						<td style="width: 80px;"><a ng-click="myExamine(user)"
							data-toggle="modal" data-target="#myModal">查看</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<page total-count="create.totalCount" show-max-page="5"
				current-page="creat.goPage" page-count="creat.pageSize"
				go-page="initQuery(creat,0)"></page>
		</div>
		<style type="text/css">
#myModal form {
	display: table;
}

#myModal form>* {
	display: table-cell;
}

#myModal form>label:first-child {
	width: 80px;
}

#myModal form>label ~label{
	padding-left: 50px;
}
</style>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h3 class="modal-title" id="myModalLabel"
							style="font-size: 16px; font-weight: bold;">查看协作单</h3>
					</div>
					<div class="modal-body modal-form">
						<form class="form-inline">
							<label for="exampleInputName2">工单编号:</label> <span>{{creates.workOrderId}}</span>
							<label for="exampleInputName2">发起单位:</label> <span>{{creates.createEmploye}}</span>
							<label for="exampleInputName2">发起联系方式:</label> <span>{{creates.user.mobile}}</span>
						</form>
						<form class="form-inline">
							<label for="exampleInputName2">标题:</label> <span>{{creates.workOrderTitle}}</span>
						</form>
						<form class="form-inline">
							<label for="exampleInputName2">紧急程度:</label> <span>{{creates.urgentLevel
								| urgentLevel}}</span> <label for="exampleInputName2">业务类型:</label> <span>{{creates.businessType}}</span>
						</form>
						<form class="form-inline">
							<label for="exampleInputName2">协作内容描述：</label>
							<div class="form-group" style="padding: 5px;">
								<textarea class="form-control" style="padding: 0;"
									ng-model="creates.content" id="one" rows="5" cols="100">
				           </textarea>
							</div>
						</form>
						<form class="form-inline">
							<label for="exampleInputName2">附件:</label> <span
								for="exampleInputName2">{{creates.workFile.fileName}} <a
								ng-show="creates.workFile!=null"
								ng-click="coopeationDownload(creates.workFile.fileName,creates.workFile.filePath)">下载</a></span>
						</form>
						<hr style="border: 1px solid rgba(62, 77, 97, 0.06)">
						<div style="overflow-y: auto; height: 230px;">
							<div ng-repeat="deal in creates.dealList">
								<form class="form-inline">
									<label for="exampleInputName2">受理单位:</label> <span>{{deal.companyName}}</span>
									<label for="exampleInputName2">受理方联系方式:</label> <span
										ng-show="deal.dealPerson!=null">{{deal.dealPerson}}</span> <span
										ng-show="deal.dealPerson==null">{{deal.user.userName}}|{{deal.user.mobile}}</span>
									<label for="exampleInputName2">受理时间:</label> <span>{{deal.dealTime
										| date:'yyyy-MM-dd HH:mm:ss'}}</span>
								</form>
								<form class="form-inline">
									<label for="exampleInputName2">处理意见</label>
									<div class="form-group" style="padding: 5px;">
										<textarea class="form-control" style="padding: 0;"
											ng-model="deal.dealOpinion" id="one" rows="5" cols="100">
					           </textarea>
									</div>
								</form>
								<form class="form-inline">
									<label for="exampleInputName2">处理附件:</label>
									{{deal.file.fileName}} <a ng-show="deal.file!=null"
										ng-click="coopeationDownload(deal.file.fileName,deal.file.filePath)">下载</a>
								</form>
								<form class="form-inline">
									<label for="exampleInputName2">审核结果:</label> <span>审核通过</span>
								</form>
								<form class="form-inline">
									<label for="exampleInputName2">审核单位:</label> <span>{{creates.createEmploye}}</span>
									<label for="exampleInputName2">审核人:</label> <span>{{creates.user.userName}}</span>
									<label for="exampleInputName2">联系方式:</label> <span>{{creates.user.mobile}}</span>
									<label for="exampleInputName2">审核时间:</label> <span>{{deal.examineTime
										| date:'yyyy-MM-dd HH:mm:ss'}}</span>
								</form>
								<form class="form-inline">
									<label for="exampleInputName2">审核意见</label>
									<div class="form-group" style="padding: 5px;">
										<textarea class="form-control" ng-model="deal.examine"
											id="one" rows="5" cols="100">
				           </textarea>
									</div>
								</form>
								<hr style="border: 1px solid rgba(62, 77, 97, 0.06)">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#tbody').scroll(function() {
		$('#thead').scrollLeft($(this).scrollLeft());
	});
	$('.page a').click(function() {
		$('.page a').removeClass('activeA');
		$(this).addClass('activeA');
	});
	$('#createTime').datepicker({
		language : 'zh-CN',
		format : 'yyyy/mm/dd',
		autoclose : true
	});
</script>