<div id='myTab' ng-init="businessEchar('realtime')">
  <!-- Nav tabs -->
</div>
<div>
	<div style="margin-top:20px;margin:auto;position:relative; ">
		<div id="lh-chart" style="height:350px;padding:10px;"></div>
	    <div id="lh-chartp" style="height:350px;width: 500px;position:absolute;top:-1px;right:0"></div>
	</div>
	</div>
	<hr/>
	<div>
    <div id="charts" style="margin-top:60px;height:400px;margin:auto;">
    	<h4 id="h4" align="center"style="font-weight:bold;">各行业近三年占比(单位:万)</h4>
		<div id="lh-charts" style="height:350px;width:340px;float:left"></div>
		<div id="p-charts" style="height:350px;width:330px;float:left"></div>
		<div id="ps-charts" style="height:350px;width:345px;float:left"></div>
	</div>
	</div>
	<hr id="hr1"/>
	<div>
	<div id="chartM" style="margin-top:60px;height:400px;margin:auto;">
		<div id="lh-chartM" style="height:350px;padding:10px;"></div>
	</div>
	</div>
	<div>
	<div style="margin-top:60px;height:400px;margin:auto;">
		<div id="lh-charte" style="height:350px;padding:10px;"></div>
	</div>
	</div>
</div>