<nav class="page">
    <ul class="pagination">
        <li style="color:red;"><a href="javascript:;" aria-label="Previous" ng-click="setCurrentPage(1)"><span aria-hidden="true">首页</span></a></li>
        <li><a href="javascript:;" aria-label="Previous" ng-click="setCurrentPage(currentPage-1)"><span aria-hidden="true">上一页</span></a></li>
        <li ng-class="{active:pageno == currentPage}" ng-repeat="pageno in pages"><a href="javascript:;" ng-click="setCurrentPage(pageno)">{{pageno}}</a></li>
        <li><a href="javascript:;" ng-click="setCurrentPage(currentPage-0+1)" aria-label="Next"><span aria-hidden="true">下一页</span></a>
        <li><a href="javascript:;" aria-label="Previous" ng-click="setCurrentPage(totalPage)"><span aria-hidden="true">尾页</span></a></li>
        <li><a style="background-color:#fff">第{{currentPage}}页</a></li>
        <li><a style="background-color:#fff">共{{totalPage}}页</a></li>
        <li ng-if="!irregular"><a style="background-color:#fff">共{{totalCount+0}}条数据</a></li>
        <li>
            <a style="background-color:#fff">
              <span>转到</span>
              <input type="text" ng-model="GO" class="form-control" style="display:inline;height:20px"/>
              <span>页</span>
            </a>
        </li>
        <li><a class="go" ng-click='setCurrentPage(GO)' style="margin-top:-3px;">Go!</a></li>
      </ul>
</nav>